.header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
    height: 10vh;
    align-items: center;
}
.divName{
    display: flex;
    background-color: #ccc;
    list-style: none;
    justify-content: space-between;
   
}
.divPhone{
    display: flex;
    background-color: #ccc;
    list-style: none;
    justify-content: space-between;
    gap: 2rem 
}
.ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 2rem
}
.link {
    color: black;
    background-color: white;
    margin-left: 20px;
    border: 1px solid #000;
    text-decoration: none;
    padding: 10px;
}
.logOut {
    color: black;
    background-color: white;
    border: 1px solid #000;
    text-decoration: none;
    padding: 3px;
}
.active {
    color: black;
    background-color: green;
    transition: all 0.3s;
}

.userLogo {
    display: flex;
    width: 12vh;
    height: 8vh;
    border-radius: 10%;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.headerInfo {
    display: flex;
    gap: 2rem;
}
/* .langAM{
    background-image: url(https://wiki2.railml.org/images/b/b8/UK_flag.png);
     background-repeat: no-repeat;
} */