.header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
    height: 10vh;
    align-items: center;
}
.divName{
    display: flex;
    margin-left: 20px;
    background-color: #ccc;
    list-style: none;
    justify-content: space-between;
   
}
.divPhone{
    display: flex;
    background-color: #ccc;
    list-style: none;
    justify-content: space-between;
    gap: 3rem 
}
.ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 3rem
}
.link {
    color: black;
    background-color: white;
    border: 1px solid #000;
    text-decoration: none;
    padding: 10px;
}
.logOut {
    color: black;
    background-color: white;
    border: 1px solid #000;
    text-decoration: none;
    padding: 3px;
}
.active {
    color: black;
    background-color: green;
    transition: all 0.3s;
}